/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define MO_TO(layer) &mo_to layer layer
#define MO_KEY_TO(key, layer) &mo_key_to key layer

&mt {
    tapping-term-ms = <150>;
};

/ {
    behaviors {
        mo_to: behavior_mo_to {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <100>;
            bindings = <&mo>, <&to>;
        };

        mo_key_to: behavior_mo_key_to {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <100>;
            bindings = <&kp>, <&to>;
        };

        mo_default: behavior_mo_default {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <MO_TO(LOWER)>, <MO_TO(RAISE)>;
            mods = <(MOD_RGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                // │          │          │          │          │          │          │   │          │          │          │          │          │          │
                // │  TO(0)   │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │  ESC     │
                   &bt BT_CLR   &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y     &kp U       &kp I      &kp O      &kp P      &kp ESC
                // ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                // │          │          │          │          │          │          │   │          │          │          │          │  :       │          │
                // │  TAB     │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ;    …  │  BKSP    │
                   &kp TAB       &kp A   &mt LCTRL S   &kp D   &mt LGUI F    &kp G          &kp H   &mt RGUI J &mt RALT K &mt LCTRL L   &kp SEMI   &kp BSPC
                // ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                // │          │          │          │          │          │          │   │          │          │  LT      │  GT      │  ?       │          │
                // │  LSHIFT  │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │  ,       │  .       │  /       │  RSHIFT  │
                   &kp LSHFT     &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M   &kp COMMA  &kp DOT    &kp FSLH   &kp RSHIFT
                // ╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                    &kp LEFT   &kp LALT   &kp SPACE         &kp RET &mo_default  &kp RIGHT
                //                                  ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        lower_layer {
            bindings = <
                // ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                // │          │          │          │          │          │          │   │          │          │          │          │          │          │
                // │  ▼       │  !       │  @       │  #       │  $       │  %       │   │  ^       │  &       │  *       │  (       │  )       │  ▼       │
                      &trans     &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT   &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR      &trans
                // ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                // │          │          │          │          │          │          │   │  UNDER   │  +       │          │  {       │  }       │          │
                // │  ▼       │  1       │  2    €  │  3       │  4       │  5       │   │  -       │  =       │  GT      │  [       │  ]       │  ▼       │
                      &trans     &kp N1  &mt LCTRL N2 &kp N3   &mt LGUI N4   &kp N5      &kp MINUS  &mt RGUI EQUAL &kp GT &mt LCTRL LBKT &kp RBKT  &trans
                // ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                // │          │          │          │          │          │          │   │  ~       │  "       │  |       │          │          │          │
                // │  ▼       │  6       │  7       │  8       │  9       │  0       │   │  `       │  '       │  \       │  {       │  }       │  ▼       │
                      &trans     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0      &kp GRAVE  &kp APOS   &kp NUBS   &kp LBRC   &kp RBRC      &trans
                // ╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                    &trans MO_KEY_TO(LALT, DEFAULT) &trans  &trans  MO_TO(RAISE)  &trans  
                //                                  ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        raise_layer {
            bindings = <
                // ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                // │          │          │          │          │          │          │   │          │          │          │          │          │          │
                // │  ▼       │          │  F2      │  CMD(E)  │  F4      │  F12     │   │          │          │  CMD(K)  │  CMD(I)  │          │  ▼       │
                      &trans     &none      &kp F2  &kp LG(E)     &kp F4     &kp F12        &none      &none   &kp LG(K)  &kp LG(I)     &none      &trans
                // ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                // │          │          │          │          │          │          │   │          │          │          │          │          │          │
                // │  ▼       │          │  LCTRL   │  CMD(D)  │  CMD(F)  │          │   │          │  LEFT    │  DOWN    │  UP      │  RIGHT   │  ▼       │
                      &trans     &none   &kp LCTRL  &kp LG(D)  &mt LGUI LG(F) &none         &none   &mt RGUI LEFT &kp DOWN   &kp UP  &kp RIGHT     &trans
                // ├──────────┼──────────┼──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                // │          │          │          │          │          │          │   │          │          │          │          │          │          │
                // │  ▼       │  UNDO    │  CUT     │  COPY    │  PASTE   │  CMD(B)  │   │          │          │  PG_DN   │  PG_UP   │          │  ▼       │
                      &trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LG(B)         &none      &none   &kp PG_DN  &kp PG_UP     &none      &trans
                // ╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                    &trans MO_KEY_TO(LALT, LOWER) &trans    &trans  &to DEFAULT   &trans  
                //                                  ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };
    };
};